<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl pb-12">Nutrition Profile</h1>

<% if @nutrition_profile.nil? %>
  <p>You have not yet created a nutrition profile.</p>
<% else %>
  <%= render @nutrition_profile %>
<% end %>



<% if @nutrition_profile.nil? %>
    <%= link_to 'New Nutrition Profile', new_nutrition_profile_path, class: "mt-7 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
<% else %>
    <%= link_to 'Edit Nutrition Profile', edit_nutrition_profile_path, class: "mt-7 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
<% end %>


</div>